.title{
    color: rgb(255, 255, 255);
    text-align: center;
}

.det{
    text-align: center;
    color: white;
    font-size: 30px;
    margin-top: 300px;
}

#VideoFondo {
    position: fixed;
    right: 0%;
    bottom: 0%;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    align-items: center;
}